
body {
	text-decoration: none;
	font-family: sans-serif;
	padding: 0,0,0,0;
	margin: 0,0,0,0;
	background-color: light-gray;
	text-align: center;
}

.welcome {
	margin: 30;
	background-color: gray;
	padding: 10;
}

.menu {
	text-decoration: none;
	color: #111;
	display: inline-block;
	
}

.menu ul {	
	list-style-type: none;
}

.menu ul li {
	text-align: left;
}

.menu a {
	text-decoration: none;
	color: #111;
}
